{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <!-- product image slider -->
        <div class="pie-image-wrapper">
          <div class="product-slider">
            {{ range .Params.Images }}
            <div data-image="{{ .image | absURL }}">
              <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
            </div>
            {{ end }}
          </div>
          {{ if eq .Params.type "dinner" }}
            {{ if ( and (.Params.small_sold_out) (.Params.big_sold_out)) }}
            <div class="sold-out-sticker">
              <img src="{{ "images/sold-out-sticker.png" | absURL }}" alt="SOLD OUT">
            </div>
            {{ end }}
          {{ else }}
            {{ if .Params.sold_out }}
            <div class="sold-out-sticker">
              <img src="{{ "images/sold-out-sticker.png" | absURL }}" alt="SOLD OUT">
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h2 class="font-weight-medium">{{ .Title | markdownify }}</h2>
        <h4>{{ .Description | markdownify }}</h4>
        <!-- rating star -->
        {{ if site.Params.rating.enable }}
        <div class="rw-ui-container"></div>
        {{ end }}
        <div class="my-4">
          {{ if .Params.PriceBefore }}
          <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
          {{ end }}
          <span class="lead text-primary font-weight-medium">{{ site.Params.currencySymbol }}{{ .Params.Price }}</span>
        </div>
        <div class="my-3">
          {{ if .Params.ingredients }}
          <h5>Ingredients</h5>
          <div class="content">{{ .Params.ingredients }}</div>
          {{ end }}
        </div>

        {{ if .Content }}
        <h5>Description</h5>
        <div class="content">{{ .Content }}</div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ partial "seasonal.html" . }}

{{ end }}
