<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">

      <div class="col-md-2 col-sm-6">
        <a href="{{ site.Params.venmoURL | safeURL }}" target="_blank"><img class="mw-100" src="{{ "images/venmo.png" | absURL }}"></a>
      </div>

      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Call or Text Kelli</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ site.Params.location }}
          </li>
        </ul>
        {{ if site.Params.enable_social }}
        <!-- Social Icons -->
        <ul class="list-inline">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>

      <div class="col-md-2 col-sm-6">
        &nbsp;
      </div>

    </div>
    <div class="row">
      <div class="col-12 text-center py-4">
        {{ site.Params.copyright | markdownify  }}
      </div>
    </div>
  </div>
</footer>

{{ with site.Params.snipcartApiKey }}
{{ "<!-- Snipcart -->" | safeHTML }}
<div id="snipcart" data-api-key="{{ . }}" hidden></div>
{{ end }}