{{ if site.Data.homepage.seasonal.enable }}
<!-- call to  action -->
{{ with site.Data.homepage.seasonal }}
{{ $overlay := .event | printf "images/seasonal/%s/overlay.png" }}
{{ $clipart := .event | printf "images/seasonal/%s/clipart.png" }}
{{ $isSpecialEvent := or (eq .event "thxgiving") (eq .event "xmas") }}
{{ $overlayClass := "" }}
{{ if $isSpecialEvent }}
  {{ $overlayClass = printf "overlay-%s" .event }}
{{ end }}

<div style="padding-top: 80px">
<section class="py-4 position-relative {{ $overlayClass }}">
  <img src="{{ $overlay | absURL }}" class="img-fluid overlay-image" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <h2 class="text-white">{{ .title | markdownify }}</h2>
        <div class="text-white">
          {{ .content | markdownify | replaceRE "<h4" "<h4 class='text-white'" | safeHTML }}
        </div>
        <a class="text-color btn btn-light" href="sms:{{ site.Params.mobile }}&body={{ site.Params.textmsg | safeHTML }}">
            <i class="ti-mobile text-primary mr-2"></i>
            Text Kelli {{ site.Params.mobile }}
        </a>
        {{ with .button }}
        <a href="{{ .link | absURL }}" class="btn btn-light">{{ .label }}</a>
        {{ end }}
      </div>
      {{ if not $isSpecialEvent }}
      <div class="col-lg-4 col-md-5 position-relative">
        <img class="cta-image" src="{{ $clipart | absURL }}" alt="">
      </div>
      {{ end }}
    </div>
  </div>
</section>
</div>
{{ end }}
<!-- /call to action -->
{{ end }}