{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Data.contact.contact.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        {{ with site.Data.contact.contact.office }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ end }}

        <ul class="list-unstyled">
          <li class="mb-3"><a class="text-color" href="sms:{{ site.Params.mobile }}&body={{ site.Params.textmsg | safeHTML }}"><i
                class="ti-mobile text-primary mr-2"></i>
             {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i>{{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i>{{ site.Params.location }}
          </li>
        </ul>
      </div>
{{ with false }}
      <div class="col-lg-3 offset-lg-1 col-sm-6">
        {{ with site.Data.contact.contact.opennigHour }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <ul class="list-unstyled">
          {{ range .dayTimeList }}
          <li class="mb-3">{{ .dayTime | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
{{ end }}
      <div class="col-lg-6">
        <h3 class="
        mb-4">Contact us</h3>
        <form name="contact" method="POST" data-netlify="true">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email" autocorrect="off">
          <input type="tel" class="form-control mb-2" id="phone" name="phone" placeholder="Your Phone Number" autocorrect="off">
          <label for="pickupdate">Pickup Date:</label>
          <input type="date" id="pickupdate" name="pickup-date" value="2021-12-14" min="2021-11-01" max="2032-12-31">
          <textarea name="message" id="message" class="form-control mb-2" placeholder="List the pies you want to order. Do not forget to mention the expected pickup/delivery date."></textarea>
          <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">Send Now</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(60 * 24 * 2 + this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
});
document.addEventListener("DOMContentLoaded", function(event) {
    var d = new Date();
    document.getElementById('pickupdate').value = d.toDateInputValue();
});
</script>
{{ end }}

{{ if site.Data.contact.map.enable }}
<section class="section pt-0">
  <div class="container">
    <div id="map_canvas" data-latitude="{{ with site.Params.mapLatitude }} {{ . }} {{ end }}"
      data-longitude="{{ with site.Params.mapLongitude }} {{ . }} {{ end }}"
      data-marker="{{ with site.Params.mapMarker }} {{ . | absURL }} {{ end }}" data-marker-name="{{ site.Title }}"></div>
  </div>
</section>
{{ end }}

{{ partial "seasonal.html" . }}

{{ end }}